@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Ewert);

* {
    font-family: 'Montserrat', sans-serif;
}

html {
  background-image: url(new_year_background.png);
  background-repeat: repeat;
}

#header_button  {
  background-color: transparent;
  border-color: transparent;
  color: #7CFC00;
  float: left;
}

.margin_top_50px {
  margin-top: 50px
}

.margin_top_100px {
  margin-top: 100px
}

.padding_top_50px {
  padding-top: 50px
}

a {
  color: #00FF7F !important;
  font-weight: bold;
}

.transparent {
  background-color: transparent
}

#login_form {
  background-color: white;
  width: 400px;
  margin: 0px auto;
  margin-top: 80px;
}

.panel {
  background-color: transparent !important;
  box-shadow: 0px 0px 0px transparent !important;
}

.navbar {
  background-color: #333;
  width: 1000px;
  margin: 0px auto;
  box-shadow: 5px 5px 5px grey;
}

.navbar-fixed-bottom, .navbar-fixed-top {
  border-radius: 0px 0px 10px 10px !important;
}

#dark_section {
  width: 1000px;
  height: 375px;
  background: #634271;
  background: linear-gradient(to top right, #333, #634271);
  margin: 90px auto auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}

#main_page_header {
  margin-top: 50px;
  padding-top: 50px;
  font-size: 200px;
  font-family: 'Ewert', sans-serif;
  color: #FFFFFF;
  text-align: center;
  height: 300px;
  width: 100%;
}

#hashtag_table {
  width: 200px;
  height: 100%;
  float: left;
  border-radius: 15px;
  text-align: center;
}

#hashtag_table_title {
  color: #00FF7F;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  border-radius: 10px 0px;
}

#author_info {
  background: white;
  display: table;
  margin: 10px auto auto auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}

#author_info a {
  color: #634271 !important;
  font-weight: bold;
}

#story_hashtags {
  background: #333;
  display: table;
  margin: 10px auto auto auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}

#story {
  background: white;
  display: table;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  margin-top: 15px;
  width: 1000px;
}

#item {
  background: white;
  display: table;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  margin-top: 15px;
  width: 1000px;
}

#item_divider {
    border: 2px solid #333;
    height: 10px;
    width: 1000px;
    margin: 20px auto;
    background-color: #333;
    border-radius: 10px
}

#pic_upload_form {
  margin-top: 100px;
}

#pic_upload_header {
  background: linear-gradient(to top right, #333, #634271);
  border-radius: 15px 15px 0px 0px;
  color: white;
  width: 500px;
  height: 75px;
  margin: auto;
  text-align: center;
}

#pic_upload_text {
    height: 100%;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    width: 100%;
}

#pic_upload_body {
    background: whitesmoke;
    border: 1px solid #634271;
    border-radius: 0px 0px 15px 15px;
    width: 500px;
    margin: auto;
    height: 150px;
}

#pic_input_div {
    margin: 20px auto;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #634271;
    border-radius: 10px;
    width: 75%;
    padding-left: 20%;
}

#pic_input {
}

#thumbs {
    width: 100%;
    height: 50px;
    margin: 5px auto;
}

#thumbs_up_button {
    display: table;
    font-size: 30px;
    float: right;
    padding: 10px;
}

#thumbs_down_button {
    display: table;
    font-size: 30px;
    float: left;
    padding: 10px;
}

#thumbs_up {
    width: 50%;
    float: left;
}

#thumbs_down {
    width: 50%;
    float: right;
}

#optional_section {
    width: 400px;
    height: 1px;
    background: #634271;
    margin-left: -16px;
}

#thumbs_up_count {
    float: right;
    border: 2px solid black;
    border-radius: 5px;
    background: white;
    padding: 5px 10px 5px 10px;
    margin-top: 12px;
}

#thumbs_down_count {
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    background: white;
    padding: 5px 10px 5px 10px;
    margin-top: 12px;
}

#left_ad_banner {
    border: 1px solid black;
    border-radius: 10px;
}

#left_banner {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}

#center_content {
    width: 100%;
    height: 100%;
}

#right_banner {
    width: 20%;
    height: 100%;
    float: right;
    text-align: center;
}

#main_pg_thumbnail {
    float: left;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    background: #333;
    border: black;
    padding: 0px;
}

#thumbnails_div {
    width: 1000px;
    height: 600px;
    margin: auto;
    padding-top: 30px;
}

#list_item_form_outer_div {
    margin: auto;
    margin-top: 75px;
    width: 1000px;
    border-radius: 10px
}

#list_item_panel {
    border: 1px solid #634271;
    background-color: whitesmoke !important;
    width: 1000px;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px
}

#list_item_heading {
    background-color: #634271;
    border: 1px solid #634271;
    border-radius: 8px 8px 0px 0px
}

#list_item_title {
    background-color: none;
    text-align: center;
}

#list_item_body {
    border-radius: 10px;
    background: whitesmoke !important
}

#list_item_title_text {
    height: 40px
}

#list_item_body_text {
    height: 150px
}

#list_item_button_div {
    background-color: whitesmoke !important;
    padding-bottom: 15px;
    border-radius: 10px
}

#list_item_submit_button {
    width: 150px;
    margin: auto;
    background-color: #634271;
    border-color: #634271;
    font-size: 16px
}

#main_item_picture {
    margin: 75px auto;
}

#search_div {
    height: 30px;
    width: 200px;
    background-color: white;
    float: right;
    margin: 10px 10px 10px auto;
    border-radius: 10px;
}

#search_field {
    height: 30px;
    width: 350px;
    float: right;
    margin: 8px -7px auto;
}

#pic_drop_header {
    margin: 10px auto 0px;
    width: 400px;
    height: 25px;
    text-align: center;
}

#pic_drop_area {
  border: 2px solid black;
  margin: 10px auto 10px auto;
  border-radius: 10px 10px 10px 10px;
  width: 400px;
  height: 200px;
  text-align: center;
  line-height: 200px;
}

.main_pic_drop_div {
    border-radius: 10px 0px 0px 10px;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

.main_pic_div {
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    margin: 10px auto 10px auto;
}

#vertical_pic_div {
    float: left;
    height: 100%;
    width: 50%;
}

#horizontal_pic_div {
    float: left;
    width: 100%;
    height: 50%;
}

.pic_drop_div {
    /*border: 1px solid grey;*/
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

#pic_drop_div_1 {
    border-left: 1px solid grey;
}

#pic_drop_div_2 {
    border-left: 1px solid grey;
    border-radius: 0px 10px 0px 0px;
}

#pic_drop_div_3 {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}

#pic_drop_div_4 {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-radius: 0px 0px 10px 0px;
}

#test_drag_and_drop {
    border: 1px solid red;
    border-radius: 10px;
    background: whitesmoke !important;
    width: 400px;
    height: 100px;
    margin: auto;
}

#dropped_pic {
    max-width: 100%;
    max-height: 100%;
}